{% extends "base.html" %} {% load static %}

{% block content %}
<!-- hero image -->
<div class="jumbotron">
    <div class="jumbo-container text-center ">
        <div class="row">
            <div class="col-sm-5 align-items-center d-flex">
                <!-- <img src="{{MEDIA_URL}}Jeremyfliestext.jpg" alt="" class="img-fluid"> -->
            </div>
            <div class="col-sm-7 col-sm-offset-5">
                <h1 class="display-4">Jeremy Flies</h1>
                <p class="lead">The new book of illustrations by Jeremy for Nick Drake</p>
                <p class="text-center jumbo-quote">
                    "who shared with me the songs of Bob Dylan and the secret delights of Disque Bleu cigarettes in those long-ago schoolboy summers of 1966/1967 and wrote this song about our time together"
                </p>
                <span class="text-center d-inline-block">
                    <a class="btn draw-border w-100" href="#" role="button">Read more</a>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- About -->
<div class="about-section" id="about">
    <div class="row about-row">
        <div class="col text-center">
            <h3 class="title">About</h3>
            <hr>
            <div class="row">
        <div class="col-md-8">
            <img class="img-fluid about-img" src="{{MEDIA_URL}}J&Jabout.jpg">
        </div>
        <div class="col-md-4">
            <p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
            </p>
        </div>
    </div>
    </div>
    </div>
</div>

<!-- action boxes -->





{% endblock %}