{% extends "base.html" %} {% load static %}

{% block content %}
<!-- hero image -->
<div class="jumbotron">
    <div class="container text-center text-lg-right">
        <div class="row">
            <div class="col-sm-5 align-items-center d-flex">
                <img src="{{MEDIA_URL}}Rocket_temp.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-sm-7">
                <h1 class="display-4">Jeremy Flies</h1>
                <p class="lead">The new book of illustrations by Jeremy for Nick Drake</p>
                <span class="text-center d-inline-block">
                    <a class="btn btn-primary btn-lg w-100" href="#" role="button">Read more</a>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- About -->
<section class="about-section" id="about">
    <div class="row about-row">
        <div class="col-md-6 mx-auto my-auto">
            <h1>About Us</h1>
        </div>
        <div class="col-md-6">
            <h1>right col</h1>
        </div>
    </div>
</section>

{% endblock %}