{% extends "base.html" %} {% load static %}

{% block content %}
<!-- hero image -->
<div class="jumbotron header-stripes">
    <div class="jumbo-container text-center ">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8 col-sm-offset-5">
                <h1 class="title display-4">Jeremy J Mason</h1>
                <p class="lead">Jeremy Flies - the new book of illustrations by Jeremy for Nick Drake</p>
                <p class="text-center title">
                    "who shared with me the songs of Bob Dylan and the secret delights of Disque Bleu cigarettes in
                    those long-ago schoolboy summers of 1966/1967 and wrote this song about our time together"
                </p>
                <span class="text-center d-inline-block">
                    <a class="btn btn-banner btn-lg" href="{% url 'products' %}" role="button">View Jeremy's products</a>
                </span>
            </div>
        </div>
    </div>
</div>


<!-- action boxes -->

<div class="container text-center">    
  <div class="row">
    <div class="col-sm-4 action-col">
      <div class="card action-card-left h-100">
          <h2 class="title">Jeremy's thoughts</h2>
        <p>Musings and artwork</p>
            <div class="text-center justify-content-center d-flex">
                <a class="btn btn-black align-self-end mt-auto" href="{% url 'blog' %}" role="button">Thoughts</a>
            </div>
      </div>
    </div>
<div class="col-sm-4 action-col">
      <div class="card action-card-center h-100">
          <h2 class="title">Jeremy's things</h2>
        <p>Browse the shop</p>
            <div class="text-center justify-content-center d-flex">
                <a class="btn btn-black align-self-end mt-auto" href="{% url 'products' %}" role="button">Things</a>
            </div>
      </div>
    </div>
    <div class="col-sm-4 action-col">
      <div class="card action-card-right h-100">
          <h2 class="title">Become a member</h2>
        <p>Register here</p>
            <div class="text-center justify-content-center d-flex">
                <a class="btn btn-black align-self-end mt-auto" href="{% url 'account_signup' %}" role="button">Join</a>
            </div>
      </div>
    </div>
  </div>
</div>

<!-- stops about focus being pushed behind header -->
<div id="about"></div>
<hr>

<!-- About -->
<div class="about-section container">
    <div class="row about-row">
        <div class="col text-center">
            <div class="row d-flex align-items-center">
                <div class="col-12">
                    <h4 class="title about-title">
                        “We are all in the gutter, but some of us are looking at the stars.”
                    </h4>
                    <p>Jeremy was born in 1948 and grew up in Stanstead before attending boarding school at the
                        beautiful Heath Mount in Woodhall Park. He then went on to be educated at Marlborough College,
                        where he met Nick Drake, and also learned about the meaning of life – girls, Chinese porcelain,
                        Oscar Wilde and the south of France. It was the latter where Nick and Jeremy spent months
                        attempting to learn the language.</p>

                    <p>In 1968 Jeremy joined the Christie’s Oriental Department before leaving to be an independent
                        dealer in 1973. In the meantime, he married Joanna and had two children, Toby and Becky. In
                        1999, due to a brain aneurysm, Jo went blind literally overnight, but thanks to her unwavering
                        strength, has continued to be an inspiration to Jeremy and anyone else who meets her.</p>

                    <p>For over 50 years, sometimes in a shop in Ebury Street, he has whiled away the time dealing,
                        painting, collecting, and reading, punctuated by 3 months a year in the South of France, which
                        he had fallen in love with many years before.</p>

                    <p>They have lived in a house in Wandsworth built in 1710 that is now filled with Jeremy’s
                        extensive collection of Oscar Wilde ephemera and a swathe of unconsidered trifles – a giant
                        cabinet of curiosities.
                    </p>
                </div>
                <!-- <div class="col-12">
                    <img class="img-fluid about-img" src="{{MEDIA_URL}}J&Jabout.jpg" alt="about JJM image">
                </div> -->
            </div>
        </div>
    </div>
</div>





{% endblock %}