@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Open+Sans:wght@400;700;800&display=swap');

html {
    height: 100%;
}

p {
    font-family: 'Open Sans', sans-serif;
}

header {
    position: sticky;
  top: 0;
  z-index: 2000;
  background-color: white;
}

.navbar {
    font-family: 'IM Fell English', serif;
    font-size: 1.4rem;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    /* margin-left: 10px;
    margin-right: 10px; */
}

.navbar a {
    color: black;
}

.logo-row {
    margin: 0;
}

.message-container {
    z-index: 99999999999999999;
}