@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Open+Sans:wght@400;700;800&display=swap');

* {
    margin: 0;
}

html {
    height: 100%; 
}

body {
    background-image: url("/media/BG-paper.png");
}

p {
    font-family: 'Open Sans', sans-serif;
}

.title,
.navbar {
    font-family: 'IM Fell English', serif;
}

.btn{
    height: 50px;
    /* width: 100px; */
    background: none;
    /* margin: 20px; */
    float: left;
    /* border:1px solid #FFAA54; */
    background-color: #654321;
    color:#ffffff;
    border-radius: 0px;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(.5,-.75,.7,1);
    box-shadow:0px 0 0 #FFAA54 inset;
    display: inline-flex;
    align-items: center; 
    
}
.btn:hover{
    box-shadow:250px 0 0 #FFAA54 inset;
    color: #000000;
}

header {
    position: sticky;
    top: 0;
    z-index: 2000;
    background-color: white;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.logo-row {
    margin: 0;
    padding-top: 10px;
}

.logo-row a{
    text-decoration: none;
}

.social-logo-row {
    font-size: 1.8rem;
    margin-right: 10px;
}

.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.navbar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.2rem;
}

.navbar a {
    color: black;
}

.nav-cart-total {
    font-size: 1.4rem;
    font-weight: 600;
}

.logo-desc {
    margin-bottom: 6px;
}

/* Jumbotron */

.jumbo-container {
    margin-left: 0px;
    margin-right: 0px;
    min-height: 40vh;
}

.jumbotron {
    color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
}

/* page headers */

.page-header {
    margin-left: 0px;
    margin-right: 0px;
    max-height: 10vh;
}

.header-text {
    background-image: url("/media/Jeremyfliestext.jpg");
}

.header-blue {
    background-image: url("/media/headerblue.jpg");
}

.header-stripes {
    background-image: url("/media/headerstripes.jpg");
}

/* about section */

.about-row {
    /* background-image: url('../../media/J&Jabout.jpg') green repeat-y; */
    /* background-repeat: no-repeat;
    background-position: top left;
    background-size: 50%;
    background-color: #77AB6E; */
    /* background:blue url('../../media/J&Jabout.jpg') repeat-y; */
    /* background-size: 60% 40% auto; */
    width: 100%;
    /* height:400px;
    padding: 15px; */
    margin-right: 0;
    margin-left: 0;
}

.about-img {
    /* position: relative; */
    max-height: 400px;
}

/* home page action boxes */

.action-col {
      padding: 70px 0;
  /* border: 3px solid green; */
  text-align: center;
}

.action-col-left {
    background-color: #FF5CD2;
}

.action-col-center {
    background-color: #CB6CEC;
}

.action-col-right {
    background-color: #A76AFC;
}

/* toasts */

.message-container {
    z-index: 99999999999999999;
    position: fixed;
    top: 155px;
    right: 30px;
}

.custom-toast {
    overflow: visible;
}

.toast-success{
    background-color: rgb(126, 236, 126);
}

.toast-warning{
    background-color: rgb(222, 224, 92);
}

.toast-error{
    background-color: rgb(209, 62, 62);
}

.toast-info{
    background-color: rgb(67, 168, 199);
}

/* product cards */

.products-col {
    margin-bottom: 15px;
}

/* .add-to-cart {
    position:absolute;
    bottom:10px;
    
} */

.product-card {
    margin-bottom: 10px;
    border-radius: 0px;
    padding-top: 10px;
}

.product-card:hover{
    box-shadow: 3px 3px 3px rgb(211, 211, 211);    
    transform: scale(1.01);
}

.single-quantity-row {
    margin-left: 10px;
}

.single-product-title {
    margin-top: 30px;
}

.single-product-text {
    padding: 5px;
}

.printsize-dropdown {
    width: 70px;
    display: inline;
}

.quantity-select {
    width: 70px;
    display: inline-block;
}


/* single product */

.single-product-card {
    margin-top: 25px;
    border: none;
}



/* Product form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}


/* blog */

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.blog-card {
    background-color: #ffffff;
    border: 1px solid lightgrey;
    border-radius: 1px;
}

.blog-post-img {
    max-height: 400px;
    min-width: 150px;
}

.blog-title {
    font-size: 2.7rem;
}

/* media queries */
