{% extends "base.html" %} {% load static %}

{% block content %}

<div class="container">
    <div class="row blog-title-row">
        <div class="col">
            <h2 class="text-center blog-title">I think good</h2>
            {% if request.user.is_superuser %}
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <a class="btn" href="{% url 'add_post' %}">Add new post</a>
                </div>
            </div>
            {% endif %}
            <hr>
        </div>
    </div>
    {% for post in post_list %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="blog-card">
                    <div class="card-horizontal">
                        <div class="row d-flex flex-wrap align-items-center">
                            <div class="col-md-5 d-flex justify-content-center">
                                {% if post.image %}
                                <a href="{{ post.image.url }}" target="_blank">
                                    <img class="img-fluid blog-post-img" src="{{ post.image.url }}"
                                        alt="{{ post.post_title }}"></a>
                                {% else %}
                                <img class="img-fluid blog-post-img" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ post.post_title }}">
                                {% endif %}
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <span class="blog-title title">{{ post.post_title }}</span>
                                    <p>{{ post.post_content }}</p>
                                    <small>posted by Jeremy - {{ post.post_created }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if request.user.is_superuser %}
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-6 d-flex justify-content-center">
                                <a class="btn" href="{% url 'edit_post' post.id %}">Edit</a>
                            </div>
                            <div class="col-sm-6 d-flex justify-content-center">
                                <a class="btn" href="{% url 'delete_post' post.id %}">Delete</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}