{% extends "base.html" %} {% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Blog management</h2>
            <h5>Edit Blog post</h5>
            <hr>
        </div>
    </div>
<div class="row">
        <div class="col">
            <form method="POST" action="{% url 'edit_post' post.id %}" enctype="multipart/form-data" class="form">
                {% csrf_token %}
            {% for field in form %}
                {% if field.name != 'image' %}
                    {{ field | as_crispy_field }}
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <div>
                <a class="btn" href="{% url 'blog' %}">cancel</a>
                <button class="btn" type="submit">Add post</button>
            </div>
            </form>
        </div>
    </div>
    
</div>
    

{% endblock %}

