{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}



{% block inner_content %}
<div class="jumbotron header-blue">
    <div class="page-header text-center">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">
                <h1 class="title display-4">{% trans "Confirm e-mail address" %}</h1>
            </div>
        </div>
    </div>
</div>

<div class="row form-row align-items-center justify-content-center">
    <div class="col-8 ">

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

<form class="bespoke-form" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit btn btn-solid">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p class="title">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}

    </div>
</div>

{% endblock %}
