{% extends "base.html" %} {% load static %}


{% block content %}

<div class="jumbotron header-blue">
    <div class="page-header text-center">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">
                <h1 class="title display-4">Add a product</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center d-flex">
        <div class="col-12 mb-3">
            <form method="POST" action="{% url 'add_product' %}" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <a class="btn btn-transparent btn-spacer" href="{% url 'products' %}">Cancel</a>
                <button class="btn btn-solid" type="submit">Add product</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}