{% extends "base.html" %} {% load static %}


{% block content %}

<div class="jumbotron header-blue">
    <div class="page-header text-center">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">
                <h1 class="title display-4">Edit product</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                <a class="btn" href="{% url 'products' %}">Cancel</a>
                <button class="btn" type="submit">Update product</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}