{% extends "base.html" %} {% load static %}

{% block content %}
<div class="jumbotron header-blue">
    <div class="page-header text-center">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">
                <h1 class="title display-4">Products</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector"
                            class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}{% endif %}">
                            <option value="reset" {% if sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if sorting == 'price_asc' %}selected{% endif %}>Price (low to
                                high)</option>
                            <option value="price_desc" {% if sorting == 'price_desc' %}selected{% endif %}>Price (high
                                to low)</option>
                            <option value="name_asc" {% if sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)
                            </option>
                            <option value="name_desc" {% if sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)
                            </option>
                            <option value="category_asc" {% if sorting == 'category_asc' %}selected{% endif %}>Category
                                (A-Z)</option>
                            <option value="category_desc" {% if sorting == 'category_desc' %}selected{% endif %}>
                                Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'products' %}">Reset</a> | </span>
                        {% endif %}
                        {{ products|length }} items{% if search_term %} found for
                        <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if not products %}
                    <div class="col-12 text-center">
                        <h3 class="title">There are no results for this search. Return to <a href="{% url 'products' %}">products</a> or try another search.</h3>
                    </div>
                {% endif %}
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 products-col">
            <div class="card product-card hover-zoom h-100">
                <h4 class="card-title title text-center">{{product.name}}</h4>
                {% if product.image %}
                <a class="text-center" href="{% url 'single_product' product.id %}">
                    <img class="img-fluid center-block" src="{{ product.image.url }}" alt="{{ product.name }}"
                        width="200px">
                </a>
                {% else %}
                <a class="text-center" href="{% url 'single_product' product.id %}">
                    <img class="img-fluid center-block" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}"
                        width="200px">
                </a>
                {% endif %}

                <div class="card-body">
                    <p class="card-text">{{product.description|safe|truncatewords:"10"}}<a
                            href="{% url 'single_product' product.id %}">read more</a></p>
                    <p><strong>Price:</strong> £{{product.price}}</p>
                    {% if product.category %}
                    <a
                        href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}</a>
                    {% endif %}
                    <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    {% with product.print_sizes as p %}
                                    {% if p %}
                                    <div class="col-12">
                                        <p><strong>Sizes available:</strong>
                                        <select class="form-control printsize-dropdown" name="print_size" id="id_print_size">
                                            <option value="A5">A5</option>
                                            <option value="A4">A4</option>
                                            <option value="A3" selected>A3</option>
                                            <option value="A2">A2</option>
                                            <option value="A1">A1</option>
                                        </select></p>
                                    </div>
                                    {% endif %}
                                    <div hidden class="col-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control qty_input" type="number" name="quantity"
                                                    value="1" min="1" max="1" data-item_id="{{ product.id }}"
                                                    id="id_qty_{{ product.id }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-12 ">
                                        <input type="submit" class="btn" value="Add to cart">
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    {% endwith %}
                                    </div>
                                </div>
                            </form>
                    {% if request.user.is_superuser %}
                    <div class="row">
                        <div class="col">
                            <a class="btn" href="{% url 'edit_product' product.id %}">Edit</a>
                        </div>
                        <div class="col">
                            <a class="btn" href="{% url 'delete_product' product.id %}">Delete</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}
    <!-- <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script> -->

    <script type="text/javascript">
        $('#sort-selector').change(function () {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if (selectedVal != "reset") {
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
    {% endblock %}