{% extends "base.html" %} {% load static %}

{% block page_header %}
    <!-- <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div> -->
{% endblock %}

{% block content %}

<!-- <div class="row">
  <div class="col-12 my-auto mx-auto"> -->
  <div class="container">
  {% for product in products %}
  {% if product.category|stringformat:"s" == 'books' %}
    <div class="row">
<div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                        {% if product.image %}
                            <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}" width="200px">
                        {% else %}
                        <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" width="200px">
                        {% endif %}
                        </div>
                        <div class="col-sm-6">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text">{{product.description}}</p>
                            <a href="#" class="btn btn-primary">add to basket</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        {{product.name}}
        {% endif %}
    {% endfor %}
  </div>

{% endblock %}
