<div class="toast custom-toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="toast-header toast-success">
        <strong class="mr-auto">Success</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        <div class="row">
            <div class="col text-center">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        <p class="text-center">Your Bag has <strong>{{ product_count }}</strong> item(s)</p>
        <div class="row">
            <div class="col text-center">
                <a href="{% url 'view_cart' %}" class="btn">
                    <span class="text-uppercase">Go To Secure Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
        </div>

    </div>
</div>